@import url('https://fonts.googleapis.com/css?family=Amiri');
html, body {
	font-family: 'Amiri', serif;
}

#main{
	margin: 30px, auto;
	min-width: 550px;
	padding: 15px;
	border-radius: 5px;
	background-color:#f5deb3;
}

#title {
	text-align: center;
}



#img-div {
	background-color: #ffffff;
	padding: 10px;
}

#image {
	margin: auto;
	max-width: 100%;
	display: block;
}

#img-caption {
	text-align: center;
}

#tribute-info {
	
}

#tribute-link {
	text-decoration: none;
}